
@import url("/home/naturalcapsule/.cache/wal/colors-waybar.css");

* {
	border: none;
	border-radius: 10px; /* Added px unit */
	padding-right: 7px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
    font-family: "JetbrainsMono Nerd Font";
	color: @foreground;
	font-size: 15px; /* Added px unit */
	min-height: 10px; /* Added px unit */
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

tooltip {
	background: rgba(43, 48, 59, 0.5);
	border: 0px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
	color: @foreground;
}

#window {
	margin-top: 6px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
    color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 6px; /* Added px unit */
	margin-left: 12px; /* Added px unit */
	font-size: 4px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 15px; /* Added px unit */
	background: @color2;
	/* color: @color1; */
	transition: none;
}

#workspaces button {
	padding-left: 0;
	padding-right: 0;
	transition: none;
	/* color: @color0; */
	/* background: @color4; */
	font-size: 16px; /* Added px unit */
	border-radius: 1px; /* Added px unit */
	border: 1
}

#workspaces button.occupied {
	transition: none;
	color: @color1;
	background: @background;
	font-size: 4px; /* Added px unit */
}

#workspaces button.focused {
	color: @color10;
    border-top: 2px solid @color10; /* Added px unit */
    border-bottom: 2px solid @color10; /* Added px unit */
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @color7;
    border-color: @color1;
    color: @color7;
}

#workspaces button.focused:hover {
    color: @color7;
}

#workspaces button.focused:active {
    color: #000000;
}

#network {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color4;
}

#pulseaudio {
	border: 0px solid rgba(0, 0, 0, 0.5);
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 15px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color4;
}

#battery {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color6;
}

#battery.charging, #battery.plugged {
	color: @foreground;
    background-color: @color6;
}

#battery.critical:not(.charging) {
    background-color: @color6;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes blink {
    to {
        background-color: @color1;
        color: @color4;
    }
} */

#backlight {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color5;
}

#clock {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @color2;
	background: @color7;
}

#memory {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color13;
}

#cpu {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color4;
}

#tray {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @color6;
	background: @background;
}

#custom-launcher {
	font-size: 30px; /* Added px unit */
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	border-radius: 15px; /* Added px unit */
	transition: none;
    color: @color4;
    background: @background;
}

#custom-power {
	font-size: 30px; /* Added px unit */
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	margin-right: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 15px; /* Added px unit */
	transition: none;
	color: @color11;
	background: @color7;
}

#custom-wallpaper {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color12;
}

#custom-media {
	margin-top: 6px; /* Added px unit */
	margin-left: 8px; /* Added px unit */
	padding-left: 10px; /* Added px unit */
	padding-right: 10px; /* Added px unit */
	margin-bottom: 0px; /* Added px unit */
	border-radius: 10px; /* Added px unit */
	transition: none;
	color: @foreground;
	background: @color11;
}
